---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="w-full h-full m-0">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Asian American Studies Timeline</title>
  </head>
  <body class="w-full h-full m-0">
    <slot />
  </body>
</html>
